body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center
}


/* div {
    border: 1px solid black;
} */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* search box */

body .container {
    margin-top: 2.5rem;
    padding-top: 15px;
    border: 4px solid black;
    border-radius: 15px;
}

body .container .lead {
    color: rgba(40, 88, 67, 0.877);
}

#search-box {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

hr {
    border: 2px solid black;
    margin: 15px 0px;
}

#search-box .container {
    border: 2px dashed rgba(40, 88, 67, 0.877);
}

#search-history input {
    width: 90%;
    padding: 0px;
}


/* Today's Weather Box */

#result-box {
    border: 2px dashed rgba(40, 88, 67, 0.877);
    border-radius: 15px;
    margin: 2%;
    margin-top: 0%;
    padding-top: 2%;
}

#result-city,
.twelve h5 {
    background-color: cadetblue;
    border-radius: 8px;
    padding: 5px 0;
}

.twelve h5 {
    background-color: rgb(141, 202, 204);
}

.twelve h5 span {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 8px;
    padding: 7.5px 10px;
}

#span-current-uv {
    padding: 10px;
    border-radius: 8px;
}


/* UV corresponding Color */

.red {
    background-color: rgb(251, 143, 143);
}

.green {
    background-color: rgb(134, 243, 134);
}

.yellow {
    background-color: rgb(216, 191, 52);
}


/* Forecast Box */

#forcast-box {
    padding-top: 0;
}

#forcast-box header {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    border-radius: 8px;
}

.row ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.two {
    width: 20%;
    border: 2px dashed rgba(40, 88, 67, 0.877);
    border-radius: 8px;
    margin: 0.5%;
}

.two ul li:first-child {
    background-color: rgb(141, 202, 204);
    border-radius: 8px;
}

li {
    list-style: none;
    font-size: 6px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 1rem;
}